.zkInput-demo {
  .demoTitle {
    &:before,
    &:after {
      border-bottom: none;
    }
  }
  .custom-label {
    width: "22px";
    height: "22px";
    background: url("../../assets/images/demo/icon_person.png") no-repeat center/cover;
  }
  .text-box {
    width: "100%";
    text-align: "center";
    color: "#108ee9";
  }
}
